
  <% @ticker_company = @api.company_profile2({symbol:@stock.ticker}) %>
  <% if !@ticker_company.name %>
    The ticker: <%= @stock.ticker %><br/> does not exist!
  <% else %>
    <img src="<%= @ticker_company.logo %>"><br/><br/>

    <% @ticker = @api.quote(@stock.ticker) %>
    <h2><%= @ticker_company.name %></h2><br/>
    
    Ticker Symbol: <%= @ticker_company.ticker %><br/>
    
    Current Price: $<%= number_with_precision(@ticker.c, :precision => 2, :delimiter => ',') %><br/>

    Previous Close: $<%= number_with_precision(@ticker.pc, :precision => 2, :delimiter => ',') %><br/>

    Percent Change: <%= @ticker.dp %>%<br/>

    Market Cap: $<%= number_with_precision(@ticker_company.market_capitalization, :precision => 2, :delimiter => ',') %><br/>

    <!-- remove sector reference for stock_quote 3.0 gem -->
  <% end %>
<br/><br/>
<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
