<h1>Stocking</h1>

<%= form_tag root_path, :method => 'POST' do %>
	<%= text_field_tag 'ticker', nil, placeholder: "Enter Ticker Symbol", size: 50 %>
	<%= submit_tag 'Lookup' %>
<% end %>


<br/>

<% if @stock and !@error %>
	<%= @present.name %><br/>
	$<%= @stock.c %><br/>

<% elsif @nothing %>
	<%= @nothing %>
<% end %>


<% if @error %>
	<%= @error %>
<% end %>

